<?xml version="1.0" encoding="UTF-8"?>
<instances>
    <instance>
        <SV_publisher>
            <appId>0x1000</appId> 
            <svInterface>enp0s31f6</svInterface>
            <svIDs>
                <svID>svid001</svID>
                <svID>svid002</svID>
            </svIDs>
        </SV_publisher>
        <GOOSE_subscriber>
            <GOOSEInterface>lo</GOOSEInterface>
            <GOOSEappId>0a08h</GOOSEappId>
            <dstMac>01:0c:cd:02:00:00</dstMac>
            <goCbRef>DEP_25Tranche/LLN0$GO$gcbInstProt</goCbRef>
        </GOOSE_subscriber>
        <scenarioConfigFile>scenario.txt</scenarioConfigFile>
    </instance>
    <instance>
        <SV_publisher>
            <appId>0x2000</appId> 
            <svInterface>enp0s31f6</svInterface>
            <svIDs>
                <svID>svid2003</svID>
            </svIDs>
        </SV_publisher>
        <GOOSE_subscriber>
            <GOOSEInterface>lo</GOOSEInterface>
            <GOOSEappId>0a09h</GOOSEappId>
            <dstMac>01:0c:cd:02:10:08</dstMac>
            <goCbRef>DEP_25Tranche/LLN0$GO$gcbInstProt</goCbRef>
        </GOOSE_subscriber>
        <scenarioConfigFile>scenario.txt</scenarioConfigFile>
    </instance>
    <instance>
        <SV_publisher>
            <appId>0x3000</appId>
            <svInterface>enp0s31f6</svInterface>
            <svIDs>
                <svID>svid2004</svID>
                <svID>svid2005</svID>
                <svID>svid2006</svID>
            </svIDs>
        </SV_publisher>
        <GOOSE_subscriber>
            <GOOSEInterface>lo</GOOSEInterface>
            <GOOSEappId>0a0ch</GOOSEappId>
            <dstMac>01:0c:cd:02:ff:ff</dstMac>
            <goCbRef>DEP_25Tranche/LLN0$GO$gcbInstProt</goCbRef>
        </GOOSE_subscriber>
        <scenarioConfigFile>scenario_DPA.txt</scenarioConfigFile>
    </instance>
    <instance>
        <SV_publisher>
            <appId>0x4000</appId> 
            <svInterface>enp0s31f6</svInterface>
            <svIDs>
                <svID>svid2003</svID>
            </svIDs>
        </SV_publisher>
        <GOOSE_subscriber>
            <GOOSEInterface>lo</GOOSEInterface>
            <GOOSEappId>0a0dh</GOOSEappId>
            <dstMac>01:0c:cd:02:01:01</dstMac>
            <goCbRef>DEP_25Tranche/LLN0$GO$gcbInstProt</goCbRef>
        </GOOSE_subscriber>
        <scenarioConfigFile>scenario_DPA.txt</scenarioConfigFile>
    </instance>
    <instance>
        <SV_publisher>
            <appId>0x5000</appId> 
            <svInterface>enp0s31f6</svInterface>
            <svIDs>
                <svID>svid2001</svID>
                <svID>svid2002</svID>
            </svIDs>
        </SV_publisher>
        <GOOSE_subscriber>
            <GOOSEInterface>lo</GOOSEInterface>
            <GOOSEappId>0a0eh</GOOSEappId>
            <dstMac>01:0c:cd:02:ab:cd</dstMac>
            <goCbRef>DEP_25Tranche/LLN0$GO$gcbInstProt</goCbRef>
        </GOOSE_subscriber>
        <scenarioConfigFile>scenario.txt</scenarioConfigFile>
    </instance>
    <Sampling_time>416</Sampling_time>
</instances>